/* Contenedor principal de menu de navegacion */
.main-menu-container {
      background-color: #323842;
      height: 50px;
}

/* Subcontenedor izquierdo de menu de navegacion */
.left-menu-container {
      height: 45px;

}

/* Subcontenedor del medio de menu de navegacion */
.middle-menu-container {
      height: 45px;
      text-align: center;
      z-index: 1;
}

/* Subcontenedor derecho de menu de navegacion */
.right-menu-container {
      height: 45px;
}






.banner {
      border: none; /* Remove borders */
      background-color: black;
      height: 375px;
      
}

img {
      width: 100%;
      padding: 0px 0px 0px 0px; 
      border: none;
      margin: 0px, 0px, 0px, 0px;
}



.recuadroTexto {
      text-align: center;
      color: white;
      background-color: #656661;
      padding: 10px;
      margin-top: 30px;
      margin-bottom: 30px;
}








/* Estilo de los botones */
.button {
      background-color: #323842; /* background */
      border: none; /* Remove borders */
      color: white; /* White text */
      padding: 4px 20px; /* Some padding */
      font-size: 24px; /* Set a font size */
      cursor: pointer; /* Mouse pointer on hover */
}

/* Estilo de los botones ante un mouse-over */
.button:hover {
      background-color: #006c75;
      color: #fff09d;
}

.icon {
      background-color: #323842; /* background */
      border: none; /* Remove borders */
      color: white; /* White text */
      padding: 4px 20px; /* Some padding */
      font-size: 24px; /* Set a font size */
      cursor: pointer; /* Mouse pointer on hover */      
}









/* Estilo de las li: */
div li {
      display:inline-block;
      text-align:center;
      color:#ffffff;
      position:relative;
      padding: 10px;
}

/* Estilo de las li ante un mouse-over: */
div li:hover {
      background-color: #006c75;
}

/* Para ocultar las listas: */
div li>ul {
      display:none;
}
div li:hover>ul {
      display:block;
      position:absolute;
}

/* Estilo de los submenus ante un mouse-over activo: */
.middle-menu-containernu ul li a:active {
      color: rgb(255, 255, 255);
      background-color: #323842;
      
}

.middle-menu-container ul li a:hover {
      color: rgb(255, 255, 255);
      background-color: #323842;
}

.middle-menu-container ul li ul li a {
      color: #ffffff;
      background-color: #323842;
}

/* Formato de los enlaces detro de .middle-menu-container */
.middle-menu-container a {
      text-decoration:none;
      color:inherit;
      font-size:20px;
      line-height: 1.5;
      letter-spacing: 4px;
      font-family: 'Roboto', sans-serif;
}

.footer{
      background-color: #323842;
      height: 45px;
      

}
.footer a{
      margin: auto;
}

