/*ARCHIVO CSS*/

body{
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding:0;
    width:100%;
    overflow-x:hidden;
}

.bg-primary{
    background-color:#006c75 !important;
}

.text-primary{
    color:#006c75 !important;
}

h1,h2,h3,h4,h5{
    font-family: 'Roboto Condensed', sans-serif;
}

.dropdown-item{
    color:black !important;
}


/*/////////////////////CSS GRAFICOS CIRCULARES PARA PUNTUACIONES PERSONAJES/////////////////////////////*/
.chart {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    line-height: 130px;
    font-size:2em;
    font-weight:bold;
    z-index: 2;
}

.tituloPuntuacionPer{
    font-size:1.2em;
    font-weight:bold;
}


/*////////////////////////////////////////////////////////////////////////////////////*/


