/*ARCHIVO CSS*/

body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.bg-primary{
    background-color:#006c75 !important;
}

.text-primary{
    color:#006c75 !important;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
}

nav{
    background-color:#323842;
}

nav a{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size:26px;
    color:white !important;
}

.navbar-nav li:hover{
    background-color:#006c75 !important;

}

.nav-item{
    padding:5px 10px 0px 10px;
}

.dropdown-item{
    color:black !important;
}