/*ARCHIVO CSS*/

body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}

nav{
    background-color:#323842;
}

nav a{
    font-family: 'Roboto Condensed', sans-serif ;
    color:white !important;
    font-size:22px !important;
}

.dropdown-item{
    color:black !important;
}