.bg-primary {
  background-color: #BD5D38 !important;
}

.bg-secondary {
  background-color: #868e96 !important;
}

.bg-success {
  background-color: #68a745 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.btn-primary {
  background-color: #dc3545 !important;
}

.btn-primary :hover {
  background-color: #dc3545 !important;
}
