@charset "UTF-8";
/* Start Override colors */
.bg-primary {
  background-color: #656661 !important;
}

.bg-secondary {
  background-color: #8E8F8B !important;
}

.bg-success {
  background-color: #323842 !important;
}

.bg-info {
  background-color: #FFF09D !important;
}

.bg-warning {
  background-color: #006C75 !important;
}

/* End Override Backgrounds colors */
/* Start Override Border colors */
.border-primary {
  border-color: #006C75 !important;
}

/* End Override border colors */
/* Start Override Text colors */
.text-secondary {
  color: #8E8F8B !important;
}

.text-success {
  color: #323842 !important;
}

.text-warning {
  color: #006C75 !important;
}

/* End Override Text colors */
/* Start Override btn-success */
btn.btn-success {
  background-color: #323842 !important;
}

.navbar button.btn.btn-success:hover {
  background-color: #272c33 !important;
  box-shadow: none;
  outline: none;
  border: 1px solid white !important;
  -webkit-box-shadow: none !important;
}

.navbar button.btn.btn-success:focus {
  background-color: #272c33 !important;
  box-shadow: none;
  outline: none;
  -webkit-box-shadow: none !important;
}

.navbar button.btn.btn-success:active {
  background-color: #003d42 !important;
  box-shadow: none;
  outline: none;
  border: 1px solid white !important;
  -webkit-box-shadow: none !important;
}

.navbar button.btn.btn-success:visited {
  background-color: #323842 !important;
  box-shadow: none;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
}

.navbar button.btn.btn-success:active:focus {
  background-color: #323842 !important;
  box-shadow: none;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
}

.dropdown-item:hover {
  background-color: darkgray;
}

/* End Override btn-success */
/* Start Override btn-primary */
.btn-primary {
  background-color: #006C75 !important;
}

.btn-outline-primary {
  border-color: #006C75 !important;
  color: #006C75 !important;
}

.btn-outline-primary:hover {
  background-color: #006C75 !important;
  color: white !important;
}

.btn-outline-primary:focus {
  background-color: #006C75 !important;
}

.btn-outline-primary:active {
  background-color: #006C75 !important;
}

/* End Override btn-primary */
/* Override feedback */
.valid-feedback {
  font-size: 1em !important;
}

.invalid-feedback {
  font-size: 1em !important;
}

/* End Override feedback */
/*Accesibilidad*/
:focus {
  border: 3px solid #006C75 !important;
}

.btn-primary:focus, .btn-outline-primary:focus, .btn-info:focus {
  border: 3px solid limegreen !important;
}

button, img {
  outline: none !important;
}

a {
  color: blue;
}

.carousel a:focus {
  background-color: darkslategray !important;
}

input[type=checkbox]:focus {
  outline: 2px solid #006C75 !important;
}

.btn-info {
  background-color: #0174c0 !important;
}

.titulo-login {
  font-size: 1.4em;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto Condensed", sans-serif;
}

/*- - - - - - - - - Start Carousel - - - - - - - - - */
.carousel-control-prev {
  color: black !important;
}

/*- - - - - - - - - End Carousel - - - - - - - - - */
/*- - - - - - - - - Start Banners General - - - - - - - - - */
.banner {
  /*  Altura del contenedor   */
  height: 430px;
  background-color: black;
  /*  Propiedades de la imagen de fondo   */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*  Los banners tienen un overlay con texto, debe ser absolute para 
que se ponga encima del banner y ocupar el 100% de su tamanio */
.overlayBanner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 5px 5px 10px #000000;
}

/*- - - - - - - - - End Banners General - - - - - - - - - */
/*- - - - - - - - - Start Banners Pag Personajes - - - - - - - - - */
.bannerPersSpiderman {
  /*  Imagen de fondo */
  background-image: url("../assets/img/pers/pers_SpidermanBanner.jpg");
}

.bannerPersSuperman {
  /*  Imagen de fondo */
  background-image: url("../assets/img/pers/pers_SupermanBanner.jpg");
}

.bannerPersIronMan {
  /*  Imagen de fondo */
  background-image: url("../assets/img/pers/pers_IronManBanner.jpg");
}

.bannerPersFlash {
  /*  Imagen de fondo */
  background-image: url("../assets/img/pers/pers_FlashBanner.jpg");
}

.bannerPersWonderWoman {
  /*  Imagen de fondo */
  background-image: url("../assets/img/pers/pers_WonderWomanBanner.jpg");
}

.bannerCom {
  /*  Imagen de fondo */
  background-image: url("../assets/img/personajes_banner_spiderman.jpg");
}

/*- - - - - - - - - End Banners Pag Personajes - - - - - - - - - */
/*- - - - - - - - - Start Banners Pag Videojuegos - - - - - - - - - */
.bannerVidArkham {
  /*  Imagen de fondo */
  background-image: url("../assets/img/vid/vid_banner_Arkham.jpg");
}

.bannerVidInjustice {
  /*  Imagen de fondo */
  background-image: url("../assets/img/vid/vid_banner_Injustice.jpg");
}

.bannerVidLego {
  /*  Imagen de fondo */
  background-image: url("../assets/img/vid/vid_banner_lego.jpg");
}

.bannerVidMarvelvsCapcom {
  /*  Imagen de fondo */
  background-image: url("../assets/img/vid/vid_banner_marvelvscapcom.jpg");
}

.bannerVidUltimateAlliance {
  /*  Imagen de fondo */
  background-image: url("../assets/img/vid/vid_banner_Ultimate.jpg");
}

/*- - - - - - - - - End Banners Pag Videojuegos - - - - - - - - - */
/*- - - - - - - - - Start Banners Pag Comic - - - - - - - - - */
.bannerCom {
  /*  Imagen de fondo */
  background-image: url("../assets/img/personajes_banner_spiderman.jpg");
}

/*- - - - - - - - - End Banners Pag Comic - - - - - - - - - */
/*- - - - - - - - - Start Corrector Barra - - - - - - - - - */
/*  Al utilizar una barra fija que tiene un z-index mayor que 
el contenido la barra oculta parte del contenido, mediante esta clase aplicada
a un contenedor se arregla este problema añadiendo un espacio en blanco y dejand
visible el contenido importante   */
#correctorBarra {
  height: 40px;
}

/*- - - - - - - - - End Corrector Barra - - - - - - - - - */
/*- - - - - - - - - Start Carousel - - - - - - - - - - */
.imgCarousel {
  height: 430px;
}

@media (max-width: 992px) {
  .imgCarousel {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
}
/*- - - - - - - - - End Carousel - - - - - - - - - - - */
/*- - - - - -- - - Start Footer - - - - - - - - - - */
.footer {
  font-size: 15px;
  background-color: black;
  background-image: url("../assets/img/footer.jpg");
  background-size: cover;
}
.footer h1 {
  font-size: 1.2em;
  color: #FFF;
}
.footer ul {
  list-style: none;
}
.footer a {
  color: inherit;
}
.footer a:hover {
  color: #FFF;
}

/*- - - - - - - - - End Footer - - - - - - - - - */
/*- - - - - - - - - Start Anchor - - - - - - - - - - */
.ancla:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}

/*- - - - - - - - - End Anchor - - - - - - - - - */
/*- - - - - - - - - Start Videos - - - - - - - - - - */
.video-container {
  position: relative;
}

.controlesVideo {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: #131313;
}

.video-container:hover .controlesVideo {
  opacity: 0.7;
}

.video-container:focus-within .controlesVideo {
  opacity: 0.7;
}

.controlesVideo button {
  background-color: transparent;
  border: 0;
  color: #EEE;
  border-radius: 3px;
}

.barraVideo {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  height: 3px;
}

.barraVideo::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.barraVideo::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  background: black;
  cursor: pointer;
}

.barraProgresoVideo {
  margin-bottom: 10px;
  width: 100%;
}

.wrapperPlayVolumenVideo {
  float: left;
}

.wrapperVolumenVideo {
  float: left;
}

.barraVolumenVideo {
  width: 80px;
}

.wrapperDuracionVideo {
  float: left;
}

.wrapperPntCompletaVideo {
  float: right;
}

/*- - - - - - - - - End Videos - - - - - - - - - */
/*- - - - - - - - - Start Contenedores Fix Footer - - - - - - - - - - */
.contenedorGlobal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.contenedorContenido {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 20px;
}

/*- - - - - - - - - End Contenedores Fix Footer - - - - - - - - - */
.mensajeError {
  background-color: #eeb8b8;
  color: red;
  border: 2px solid darkred;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

/*- - - - - - - - - Start imagen perfil usuario nav - - - - - - - - - */
.nombreUsuarioNav {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1em;
  color: white;
}

.imgPerfilNav {
  border: 2px solid #006C75;
  width: 35px;
}

/*- - - - - - - - - End imagen perfil usuario nav- - - - - - - - - */
/* - - - - - - - - - - - - - - - CSS PARA LA TABLA DE PUNTUACIONES - - - - - - - - - - - -*/
.chart {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percent {
  display: inline-block;
  line-height: 130px;
  font-size: 2em;
  font-weight: bold;
  z-index: 2;
}

.tituloPuntuacionPer {
  font-size: 1.2em;
  font-weight: bold;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*- - - - - - - - - - - - - - - - - - - - -CSS PARA EL DIV DE LA TABLA - - - - - - - - - -  - - */
.tablaDatos {
  border-top: 0px red;
}
.tablaDatos table th {
  color: #006C75;
}
.tablaDatos .perfil-titulo {
  font-size: 1.2em;
  color: white;
}

@media (max-width: 991px) {
  .tablaDatos {
    border-top: 1px solid lightgray !important;
  }
}
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.biografia-titulo {
  font-size: 2.2em;
}

.valoracion {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.valoracion input {
  position: absolute;
  top: -100px;
}

.valoracion label {
  float: right;
  /* color estrella vacía */
  color: #3b3b3b !important;
  font-size: 25px;
}

.valoracion label:hover,
.valoracion label:hover ~ label,
.valoracion input:checked ~ label {
  /* color estrella llena */
  color: #959500 !important;
}

.estrella {
  color: #959500 !important;
}

.zoom {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.zoom:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.div-imagen {
  display: inline-block;
  position: relative;
}

.div-imagen > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px;
  margin: 0;
}

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.font {
  font-size: 12px;
}

.contenedorPerfilUsuario {
  font-size: 1.2em;
  border: 2px solid #006C75;
}

@media (min-width: 768px) {
  .filaInformacionPerfil {
    border-left: 2px solid #006C75;
  }
}

.contenedorValoracionesPerfil {
  border-top: 2px solid #006C75;
}

.wrapperValoracionesPerfil {
  max-height: 300px;
}

.titulo-perfil {
  font-size: 1.1em;
}

.label-forms {
  font-size: 1.3em;
  font-family: "Roboto Condensed", sans-serif;
}

/*---------------------Start contenedores backend---------------------*/
.contenedorBackend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 575px) {
  .containerAlturaBackend {
    height: 100vh;
  }
}

/*---------------------End contenedores backend---------------------*/
/*---------------------Start tabla backend---------------------*/
.tablaBackend {
  max-height: 65vh;
}
.tablaBackend td p {
  margin: 0px;
  padding: 5px;
}

.td-head {
  background-color: #E9ECEF;
}

/*---------------------End tabla backend---------------------*/
/*---------------------Start editor sinopsis---------------------*/
.editorSinopsis {
  min-height: 200px;
  font-size: 16px !important;
}

/*---------------------End tabla backend---------------------*/
/*- - - - - - - - - Start Cookies - - - - - - - - - */
.cookiealert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  display: none;
  border-radius: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  color: #ecf0f1;
  background: #212327;
}

.cookienotif {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 998;
  display: none;
  border-radius: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  color: #ecf0f1;
  background: #212327;
}

.cookiealert.show {
  display: block;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-delay: 1000ms;
       -o-transition-delay: 1000ms;
          transition-delay: 1000ms;
}

.cookienotif.show {
  display: block;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-delay: 1000ms;
       -o-transition-delay: 1000ms;
          transition-delay: 1000ms;
}

.cookiealert a {
  color: white;
  text-decoration: underline;
}

.cookiealert .acceptcookies {
  margin-left: 10px;
  vertical-align: baseline;
}

/*- - - - - - - - - End Cookies - - - - - - - - - */