/* Start Override colors */
.bg-primary {
  background-color: #656661 !important;
}

.bg-secondary {
  background-color: #8E8F8B !important;
}

.bg-success {
  background-color: #323842 !important;
}

.bg-info {
  background-color: #FFF09D !important;
}

.bg-warning {
  background-color: #006C75 !important;
}

/* End Override colors */
/* Start Override btn-success */
btn.btn-success {
  background-color: #323842 !important;
}

button.btn.btn-success:hover {
  background-color: #272c33 !important;
  box-shadow: none;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
}

button.btn.btn-success:focus {
  background-color: #272c33 !important;
  box-shadow: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.25) !important;
  -webkit-box-shadow: none !important;
}

button.btn.btn-success:active {
  background-color: #003d42 !important;
  box-shadow: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.25) !important;
  -webkit-box-shadow: none !important;
}

button.btn.btn-success:visited {
  background-color: #323842 !important;
  box-shadow: none;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
}

button.btn.btn-success:active:focus {
  background-color: #323842 !important;
  box-shadow: none;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
}



h3 {
  color: #006C75; }

.valoracion {
  position: relative;
  overflow: hidden;
  display: inline-block; }

.valoracion input {
  position: absolute;
  top: -100px; }

.valoracion label {
  float: right;
  /* color estrella vacía */
  color: #868e96 !important;
  font-size: 25px; }

.valoracion label:hover,
.valoracion label:hover ~ label,
.valoracion input:checked ~ label {
  /* color estrella llena */
  color: #FFF09D !important; }

  .bg-secondary {
    background-color: #868e96 !important;
  }
  
  .bg-success {
    background-color: #68a745 !important;
  }
  
  .bg-info {
    background-color: #17a2b8 !important;
  }
  
  .bg-warning {
    background-color: #ffc107 !important;
  }
  
  .btn-primary {
    background-color: #dc3545 !important;
  }
  
  .btn-primary :hover {
    background-color: #dc3545 !important;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .bannerPers {
    background-image: url("../assets/img/spidermanPS4.jpg");
    height: 430px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  @media (max-width: 576px) {
    .bannerPers {
      height: 300px;
    }
  }
  
  .overlayBannerPers {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .chart {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .percent {
    display: inline-block;
    line-height: 130px;
    font-size: 2em;
    font-weight: bold;
    z-index: 2;
  }
  
  .tituloPuntuacionPer {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .tablaDatos {
    border-top: 0px red;
  }
  
  @media (max-width: 991px) {
    .tablaDatos {
      border-top: 1px solid lightgray !important;
    }
  }