@charset "UTF-8";
/* Start Override colors */
.bg-primary {
  background-color: #656661 !important;
}

.bg-secondary {
  background-color: #8E8F8B !important;
}

.bg-success {
  background-color: #323842 !important;
}

.bg-info {
  background-color: #FFF09D !important;
}

.bg-warning {
  background-color: #006C75 !important;
}

/* End Override Backgrounds colors */
/* Start Override Text colors */
.text-secondary {
  color: #8E8F8B !important;
}

.text-success {
  color: #323842 !important;
}

.text-warning {
  color: #006C75 !important;
}

/* End Override Text colors */
/* Start Override btn-success */
btn.btn-success {
  background-color: #323842 !important;
}

button.btn.btn-success:hover {
  background-color: #272c33 !important;
  box-shadow: none;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
}

button.btn.btn-success:focus {
  background-color: #272c33 !important;
  box-shadow: none;
  outline: none;
  border: 1px solid white !important;
  -webkit-box-shadow: none !important;
}

button.btn.btn-success:active {
  background-color: #003d42 !important;
  box-shadow: none;
  outline: none;
  border: 1px solid white !important;
  -webkit-box-shadow: none !important;
}

button.btn.btn-success:visited {
  background-color: #323842 !important;
  box-shadow: none;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
}

button.btn.btn-success:active:focus {
  background-color: #323842 !important;
  box-shadow: none;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
}

/* End Override btn-success */
/* Start Override btn-primary */
.btn-primary {
  background-color: #006C75 !important;
}

/* End Override btn-primary */
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto Condensed", sans-serif;
}

/*- - - - - - - - - Start Banners General - - - - - - - - - */
.banner {
  /*  Altura del contenedor   */
  height: 430px;
  /*  Propiedades de la imagen de fondo   */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*  Los banners tienen un overlay con texto, debe ser absolute para 
que se ponga encima del banner y ocupar el 100% de su tamanio */
.overlayBanner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 5px 5px 10px #000000;
}

/*- - - - - - - - - End Banners General - - - - - - - - - */
/*- - - - - - - - - Start Banners Pag Personajes - - - - - - - - - */
.bannerPersSpiderman {
  /*  Imagen de fondo */
  background-image: url("../assets/img/pers/pers_SpidermanBanner.jpg");
}

.bannerPersSuperman {
  /*  Imagen de fondo */
  background-image: url("../assets/img/pers/pers_SupermanBanner.jpg");
}

.bannerPersIronMan {
  /*  Imagen de fondo */
  background-image: url("../assets/img/pers/pers_IronManBanner.jpg");
}

.bannerPersFlash {
  /*  Imagen de fondo */
  background-image: url("../assets/img/pers/pers_FlashBanner.jpg");
}

.bannerPersWonderWoman {
  /*  Imagen de fondo */
  background-image: url("../assets/img/pers/pers_WonderWomanBanner.jpg");
}

/*- - - - - - - - - End Banners Pag Personajes - - - - - - - - - */
/*- - - - - - - - - Start Banners Pag Videojuegos - - - - - - - - - */
.bannerVidArkham {
  /*  Imagen de fondo */
  background-image: url("../assets/img/vid/vid_banner_Arkham.jpg");
}

.bannerVidInjustice {
  /*  Imagen de fondo */
  background-image: url("../assets/img/vid/vid_banner_lego.jpg");
}

.bannerVidLego {
  /*  Imagen de fondo */
  background-image: url("../assets/img/vid/vid_banner_lego.jpg");
}

.bannerVidMarvelvsCapcom {
  /*  Imagen de fondo */
  background-image: url("../assets/img/vid/vid_banner_marvelvscapcom.jpg");
}

.bannerVidUltimateAlliance {
  /*  Imagen de fondo */
  background-image: url("../assets/img/vid/vid_banner_lego.jpg");
}

/*- - - - - - - - - End Banners Pag Videojuegos - - - - - - - - - */
/*- - - - - - - - - Start Banners Pag Comic - - - - - - - - - */
.bannerCom {
  /*  Imagen de fondo */
  background-image: url("../assets/img/personajes_banner_spiderman.jpg");
}

/*- - - - - - - - - End Banners Pag Comic - - - - - - - - - */
/*- - - - - - - - - Start Corrector Barra - - - - - - - - - */
/*  Al utilizar una barra fija que tiene un z-index mayor que 
el contenido la barra oculta parte del contenido, mediante esta clase aplicada
a un contenedor se arregla este problema añadiendo un espacio en blanco y dejand
visible el contenido importante   */
#correctorBarra {
  height: 40px;
}

/*- - - - - - - - - End Corrector Barra - - - - - - - - - */
/*- - - - - - - - - Start Carousel - - - - - - - - - - */
.imgCarousel {
  height: 430px;
}

@media (max-width: 992px) {
  .imgCarousel {
    object-fit: cover;
    object-position: 50% 50%;
  }
}
/*- - - - - - - - - End Carousel - - - - - - - - - - - */
/*- - - - - -- - - Start Footer - - - - - - - - - - */
.footer {
  font-size: 15px;
  background-image: url("../assets/img/footer.jpg");
  background-size: cover;
}
.footer h4 {
  font-size: 1.2em;
  color: #FFF;
}
.footer ul {
  list-style: none;
}
.footer a {
  color: inherit;
}
.footer a:hover {
  color: #FFF;
}

/*- - - - - - - - - End Footer - - - - - - - - - */
/*- - - - - - - - - Start Anchor - - - - - - - - - - */
.ancla:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}

/*- - - - - - - - - End Anchor - - - - - - - - - */
/*- - - - - - - - - Start Videos - - - - - - - - - - */
.video-container {
  position: relative;
}

.controlesVideo {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: #131313;
}

.video-container:hover .controlesVideo {
  opacity: 0.7;
}

.controlesVideo button {
  background-color: transparent;
  border: 0;
  color: #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.barraVideo {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  height: 3px;
}

.barraVideo::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.barraVideo::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  background: black;
  cursor: pointer;
}

.barraProgresoVideo {
  margin-bottom: 10px;
  width: 100%;
}

.wrapperPlayVolumenVideo {
  float: left;
}

.wrapperVolumenVideo {
  float: left;
}

.barraVolumenVideo {
  width: 80px;
}

.wrapperDuracionVideo {
  float: left;
}

.wrapperPntCompletaVideo {
  float: right;
}

/* - - - - - - - - - - - - - - - CSS PARA LA TABLA DE PUNTUACIONES - - - - - - - - - - - -*/
.chart {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percent {
  display: inline-block;
  line-height: 130px;
  font-size: 2em;
  font-weight: bold;
  z-index: 2;
}

.tituloPuntuacionPer {
  font-size: 1.2em;
  font-weight: bold;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*- - - - - - - - - - - - - - - - - - - - -CSS PARA EL DIV DE LA TABLA - - - - - - - - - -  - - */
.tablaDatos {
  border-top: 0px red;
}
.tablaDatos table th {
  color: #006C75;
}

@media (max-width: 991px) {
  .tablaDatos {
    border-top: 1px solid lightgray !important;
  }
}
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.valoracion {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.valoracion input {
  position: absolute;
  top: -100px;
}

.valoracion label {
  float: right;
  /* color estrella vacía */
  color: #868e96 !important;
  font-size: 25px;
}

.valoracion label:hover,
.valoracion label:hover ~ label,
.valoracion input:checked ~ label {
  /* color estrella llena */
  color: #FFF09D !important;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.5);
}

/*# sourceMappingURL=resume.css.map */
