/*---------------------Start contenedores backend---------------------*/
.contenedorBackend{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin:0px;
}

.containerAlturaBackend{
    @media (min-width:575px) {
        height:100vh;
    }
}
/*---------------------End contenedores backend---------------------*/

/*---------------------Start tabla backend---------------------*/
.tablaBackend{

    td{
        p{
            margin:0px;
            padding:5px;
        }
    }
}
/*---------------------End tabla backend---------------------*/

/*---------------------Start editor sinopsis---------------------*/
.editorSinopsis{
    min-height:200px;
    font-size:16px !important;
}
/*---------------------End tabla backend---------------------*/