// Variables
$colorPaleta1: #656661 !default;
$colorPaleta2: #8E8F8B !default;
$colorPaleta3: #323842 !default;
$colorPaleta4: #FFF09D !default;    
$colorPaleta5: #006C75 !default;
  
$primary:       $colorPaleta1 !default;
$secondary:     $colorPaleta2 !default;
$success:       $colorPaleta3 !default;
$info:          $colorPaleta4 !default;
$warning:       $colorPaleta5 !default;

$white: #FFF !default;
$gray-600: #868e96 !default;
$amarillo-estrellas: rgb(149, 149, 0);
$gris-estrellas: rgb(59, 59, 59);

